.icon-video{
	background:url(mx_film.png) no-repeat;
}
.icon-link{
	background:url(mx_link.png) no-repeat;
}
.icon-pic{
	background:url(mx_pictures.png) no-repeat;
}
.icon-article{
	background:url(new.gif) no-repeat;
}
.icon-leader{
	background:url(mx_leader.png) no-repeat;
}
.icon-download{
	background:url(download.gif)  no-repeat;
}
.icon-expert{
	background:url(mx_leader.png) no-repeat;
}
.icon-doc{
	background:url(new.gif) no-repeat;
}

